:root {
    --white:#ffffff;
    --cool-gray: #7f7f7f;
    --light-teal: #6fbfb2;
    --dark-gray: #4c4c4c;
    --font-color: #303952;
    --cool-gray: #7f7f7f;
    --light-pink: #f8a5c2;
    --dark-purple: #574b90;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;
    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
  }

.hide{
  display:none;
}
/* Center all elements horizontally */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header styles */
  header {
    position: fixed ;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: 0;
    left: 0;
    align-items: center;
    height:--fs-h1;
    width: 100vw;
    height: 114px;
    background: url(./Bridge.jpg);
    background-size: cover;
    background-position: center;

  }
  nav {
    top: 0;
    text-align: center;
    bottom: 0;
    right:0;
  }
  a {
    background-color: var(--light-teal);
    display: fixed;
  }
  /* Logo styles */
h1 {
    font-size: var(--fs-h1);
    font-weight: 60px;
    background: url(./Sky.jpg);
    background-size: 70px 70px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
    background-color: red;
    text-align: center;
    font-family: --primary-font;
  }
h2 {
  font-weight: bolder;
  text-shadow: 2px 2px 3px rgba(253, 252, 252, 0.5); 
  font-size: var(--fs-h2);
    }
    
p {
font-weight: bolder;
text-shadow: 2px 2px 3px rgba(253, 252, 252, 0.5);
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: var(--light-teal);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}


.close-contact {
  color: #aaaaaa;
  float: right;
  font-size: var(--fs-body);
  font-weight: bold;
}

.close-contact:hover,
.close-contact:focus {
  color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.about-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



img {
  max-width: 400px;
  max-height: 300px;
}
body{
    font-size: var(--fs-body);
    font-family: var(--primary-font);
}
ul {
    padding: 0;
    list-style: none;
    
}
ul li {
    display: inline-block;
}
ul li a {
  
    display: block;
    padding: 10px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover {
    color: #fff;
    background: #939393;
    background-image: url(./Tree.png);
    background-size: 100%;
}
  
  /* Subheading styles */
  .subheading {
    margin-top: 114px;
    text-align: center;
    background-color: var(--light-teal);
  }
  
  /* Search bar styles */
  .search {
    margin-top: 2rem;
    text-align: center;
    background-color: var(--light-teal);
  }
  
  /* Main content styles */
  .main {
    margin-top: 2rem;
    text-align: center;
    background-color: var(--light-teal);
    font-family: var(--primary-font);
  }

  .park-facts,
.park-address,
.weather {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.address-weather-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
  text-align: center; 
  margin: 0 5px; 
}



.park-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  height: auto;
}


 
  
  .park-info h2 {
    margin-bottom: 10px;
  }
  
  .park-info > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .park-info img {
    flex: 0 0 50%;
    max-width: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .park-info > div > div {
    flex: 1;
  }
  
  .park-info p {
    white-space: pre-wrap;
  }
  
  .park-info .park-info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .park-image {
    height: 100%; 
    object-fit: cover; 
    flex-grow: 1;
  }
  
  .park-info-section {
    display: flex;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100%; 
    flex-grow: 1;
  }
  
  
  
  /* Footer styles */
  .footer {
    margin-top: 2rem;
    text-align: center;
  }
  

 @media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 4rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }

  /* Header styles */
  header {
    flex-direction: column;
    
  }

  /* Logo styles */

button {
	--x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	
	// The magic
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

//image background//
/* CSS CODE FOR MODAL - PUT INTO SCSS */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
}